/*Menu Principale*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avatgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
nav ul{
    list-style: none;
}
nav li{
    float: left;
    width: 25%;
    text-align: center;
}
nav ul::after{
    content: "";
    display: table;
    clear: both;
}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: #800909;
    position: sticky;
    top: 0px;
}
nav a{
    display: block;
    text-decoration: none;
    color: #fdcf58;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}
nav a:hover{
    color: #f07f13;
    border-bottom: 2px solid #800909;
}
/* Barre de Recherche */
.search{
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    width: 17.5%;
    min-width: 120px;
  }
  
  .Rechercher{
    display: list-item;
    color: white;
    padding: 4px;
    text-align: center;
  }
  .Recherche{
    background-color: #800909;
    margin: 10px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
  }
  
  #searchbar{
    margin-left: 15%;
    padding:15px;
    border-radius: 10px;
  }
  
  input[type=text] {
     width: 60%;
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }
  
  
  input[type=text]:focus {
    width: 60%;
  }
  
  #list{
   font-size:  1.5em;
  }
  
  .bettera{
    color: #333;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-align: right;
  }
html {
    padding: 20px;
    background-color: #6a040f;
  }
  
  body {
    width: 900px;
    margin: 0px auto;
    background-color: #f76868;
    padding: 30px;
    font-family: Arial;
    text-align: justify;
    border-radius: 50px;
    color: #03071e;
  }
  
  
  /* SECTION */
  nav {
    width: 100%;
    text-align: center;
    height: 40px;
    border-bottom: 2px dotted #000000;
  }
  
  footer {
    border-top: 3px unset #aa1010;
    font-size: small;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  @media screen and (max-width: 1300px) {
    footer {
      font-size: xx-small;
    }
  }
  
  /* TITRES */
  h1 {
    color: #03071e;
    text-decoration: none;
    text-align: center;
    clear: right;
    border-radius: 50px;
    margin: 5px;
    text-shadow: #6a040f 2px 2px 0px;
    padding: 5px;
  }
  
 
  

  
  /* TEXTES */
  p {
    margin: 10px;
    font-size: larger;
  }
  
  hr {
    display: none;
  }
  
  /* LIENS */
  a {
    text-decoration: none;
    line-height: 24px;
    color: #fe8fd5;
  }
  
  a:hover {
    color: #a7fff3;
  }
  
  nav a {
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #9966cc;
  }
  
  footer a {
    color: #9966ff;
    font-family: Arial;
    font-size: medium;
  }
  
  /* Images et MÃ©dia*/
  audio {
    width: 100%;
  }
  
  /* LÃ©gendes */
  figcaption {
    line-height: 30px;
    height: 30px;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
  }
  
  figure {
    padding: 15px;
    border: 1px solid rgb(204, 204, 204);
    margin-bottom: 20px;
  }
  
  img {
    border-radius: 30px;
   border: 1px solid #eb41ce;
  
  }  
  video {
    margin-left: 75px;
    margin-right: auto;
    border-radius: 50px;
    border: 3px solid #eb41ce;
  }
  
 