/*Menu Principale*/
* {
  margin: 0px;
  padding: 0px;
  font-family: Avatgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
nav ul {
  list-style: none;
}
nav li {
  float: left;
  width: 25%;
  text-align: center;
}
nav ul::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  width: 100%;
  margin: 0 auto;
  background-color: #800909;
  position: sticky;
  top: 0px;
}
nav a {
  display: block;
  text-decoration: none;
  color: #9966cc;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}
nav a:hover {
  color: #a7fff3;
  border-bottom: 2px solid #800909;
}

/*Début de CSS Classique*/

html {
  background-color: #c01313;
}

body {
  font-family: Arial;
  text-align: justify;
  color: #03071e;
}

/* Section */
footer {
  border-top: 3px unset #aa1010;
  font-size: small;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

/* Titres */
h1 {
  color: #03071e;
  text-decoration: none;
  text-align: center;
  clear: right;
  border-radius: 50px;
  margin: 5px;
  text-shadow: #6a040f 2px 2px 0px;
  padding: 5px;
}
h2 {
  color: #03071e;
  text-decoration: none;
  text-align: center;
  clear: right;
  border-radius: 50px;
  margin: 5px;
  text-shadow: #6a040f 2px 2px 0px;
  padding: 5px;
}

/* Textes */
p {
  margin: 10px;
  font-size: larger;
}

hr {
  display: none;
}

.bouton{
  margin: 10px;
}

/* LIENS */
a {
  text-decoration: none;
  line-height: 24px;
  color: #fe8fd5;
}

a:hover {
  color: #a7fff3;
}

footer a {
  color: #9966ff;
  font-family: Arial;
  font-size: medium;
}

/* LÃ©gendes */
video {
  margin-left: 75px;
  margin-right: auto;
  border-radius: 50px;
  border: 3px solid #eb41ce;
}

.meme {
  margin: 10px;
}

/*Div*/
.divGauche {
  background-color: #f76868;
  width: 25%;
  float: left;
  height: 7500px;
}

.divDroite {
  background-color: #c01313;
  color: white;
  float: right;
  width: 75%;
}

/*Bulle de texte*/
.bubbleG {
  max-width: 300px;
  padding: 10px;
  margin: 15px 70px 15px 10px;
  border-radius: 10px;
  background-color: gray;
  position: relative;
}
.bubbleD {
  max-width: 300px;
  padding: 10px;
  margin: 15px 10px 15px 10px;
  border-radius: 10px;
  background-color: blue;
  position: relative;

}
.bubbleQ {
  max-width: 300px;
  padding: 10px;
  margin: 15px 10px 15px 10px;
  border-radius: 10px;
  background-color: rgb(181, 212, 0);
  position: relative;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.left-arrow {
  border-width: 10px 15px 10px 0;
  border-color: transparent #e6e6e6 transparent transparent;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}
.right-arrow {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #e6e6e6;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

/*Écran de Chargement*/
.loader {
  border: 16px solid #f3f3f3; /* Gris clair */
  border-top: 16px solid #3498db; /* Bleu */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
