/*Menu Principale*/
* {
  margin: 0;
  padding: 0;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

nav ul {
  list-style: none;
}

nav li {
  float: left;
  width: 25%;
  text-align: center;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: #c8ccbb;
  position: fixed;
  top: 0;
  z-index: 1000;
  /* Assurez-vous que la barre de navigation est au-dessus des autres éléments */
}

nav a {
  display: block;
  text-decoration: none;
  color: #373344;
  border-bottom: 2px solid transparent;
  padding: 10px 0;
}

nav a:hover {
  color: #5522f9;
  border-bottom: 2px solid #000000;
}

/*Début de CSS Classique*/

html {
  background-color: #373344;
}

body {
  font-family: Arial;
  text-align: center;
  color: hsl(231, 82%, 6%);
  margin-top: 70px;
}

/* Section */
footer {
  border-top: 3px unset #373344;
  font-size: small;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

/* Titres */
h1 {
  color: #c8ccbb;
  text-decoration: none;
  text-align: center;
  clear: right;
  border-radius: 50px;
  margin: 5px;
  text-shadow: #28046a 2px 2px 0px;
  padding: 5px;
}

h2 {
  color: #c8ccbb;
  text-decoration: none;
  text-align: center;
  clear: right;
  border-radius: 50px;
  margin: 5px;
  text-shadow: #28046a 2px 2px 0px;
  padding: 5px;
}

/* Textes */
p {
  margin: 10px;
  font-size: larger;
  color: #c8ccbb;
}

hr {
  display: none;
}

.bouton {
  margin: 10px;
}

/* LIENS */
a {
  text-decoration: none;
  line-height: 24px;
  color: #fe8fd5;
}

a:hover {
  color: #a7fff3;
}

footer a {
  color: #9966ff;
  font-family: Arial;
  font-size: medium;
}

/* LÃ©gendes */
video {
  margin-left: 75px;
  margin-right: auto;
  border-radius: 50px;
  border: 3px solid #eb41ce;
}

.meme {
  margin: 10px;
}

/*Div*/
.divGauche {
  background-color: #808080;
  width: 25%;
  float: right;
  height: 100%;
  position: fixed;
  top: 64px;
}

.divDroite {
  background-color: #373344;
  color: white;
  float: left;
  width: 75%;
  margin-top: 60px;
}

.divLogin {
  margin-top: 2%;
  text-align: center;
  min-width: 50%;

}

.txtwelcome {
  text-align: center;
  margin-top: 15%;
  font-size: 175%;
  min-width: 50%;
}

/* Formulaires */
input[type="text"] {
  border: 1px black solid;
  min-width: 20%;
  height: 12.5%;
  font-size: 175%;
}

input[type="submit"] {
  border: 1px black solid;
  min-width: 10%;
  font-size: 125%;
}


/*Bulle de texte*/
.bubbleG {
  max-width: 300px;
  padding: 10px;
  margin: 15px 70px 15px 10px;
  border-radius: 10px;
  background-color: gray;
  position: relative;
}

.bubbleD {
  max-width: 300px;
  padding: 10px;
  margin: 15px 10px 15px 10px;
  border-radius: 10px;
  background-color: blue;
  position: relative;

}

.bubbleQ {
  max-width: 300px;
  padding: 10px;
  margin: 15px 10px 15px 10px;
  border-radius: 10px;
  background-color: rgb(8, 0, 56);
  position: relative;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.left-arrow {
  border-width: 10px 15px 10px 0;
  border-color: transparent #e6e6e6 transparent transparent;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}

.right-arrow {
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #e6e6e6;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

/*Écran de Chargement*/
.loader {
  border: 16px solid #f3f3f3;
  /* Gris clair */
  border-top: 16px solid #3498db;
  /* Bleu */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Progess Bar */

.progress-bar {
  width: 200px;
  border: 1px solid #ccc;
  margin: 20px;
  text-align: center;
  padding: 10px;
}

.progress-bar-inner {
  width: 0;
  height: 30px;
  background-color: #4CAF50;
  color: white;
}

/* ajout Piron */
label>img,
#corps_affichee {
  width: 25%;
}

.infonom {
  font-size: 14px;
  color: #000000;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}


.infoprenom{
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.infosexe{
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.infonation{
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.infodnaissance{
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.infolnaissance{
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.infoprenom{
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.infocreation{
  font-size: 14px;
  color: #000000;
  text-align: left;
}

.infoexpiration{
  font-size: 14px;
  color: #000000;
  text-align: left;
}

/*Bouton DivGauche*/

.btn {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
  float: right;
  margin : 5px 5px 5px 5px;
}

.btn:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btn .text {
  transform: translateX(55px);
}

.btn:hover .icon {
  width: 175px;
}

.btn:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btn:focus {
  outline: none;
}

.btn:active .icon {
  transform: scale(0.85);
}